env:
    global:
        - 'CC_TEST_REPORTER_ID=91b76a447d93b5fa948e557cfa76c729ee0e7838c893f81e5012c001118394c5'

dist: 'bionic'

language: 'php'

php:
    - '7.1'
    - '7.2'
    - '7.3'
    - '7.4'

before_install:
    - 'composer self-update --2'

install:
    - 'composer install'

script:
    - 'XDEBUG_MODE=coverage vendor/bin/phpunit'

after_success:
    - 'curl https://qlty.sh | sh'
    - 'qlty coverage publish --format=clover build/logs/clover.xml'
